body {}

header {
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100% !important;
  top: 0;
  position: relative;
  left: 0;
}



.save-button {
  background-color: rgb(50, 50, 226);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 35px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 9px;
  line-height: 5px;
}

.page-content {
  /* margin-top: 70px !important; */
}

.nav-link i,
.nav-link span {
  color: black
}

.self-assign {
  background-color: rgb(21, 207, 21) ;
    color: black;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    border: 1px solid #227537; 
    box-shadow: 2px 2px 4px rgba(0, 100, 0, 0.2); /* Green shadow */

}

.switch-role {
  border-radius: 5px;
    background-color: orange;
    height: 40px;
    color: black;
    border: 1px solid #b17b16; /* Orange border color */
    box-shadow: 2px 2px 4px rgba(255, 165, 0, 0.2); /* Orange shadow */
}