header {
  background-color: black !important; 
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100% !important;

}

/* input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
} */



/* Style the submit button */

/* body {
  margin: 0;
  padding: 0;
} */

#login-btn {
  background-color: rgb(50, 50, 226);
  color: white;
  height: 50px;
 
}




/* Style the container for inputs */
/* .card {
  width: 500px;
  height: 250px;
  background-color: darkgrey;
  margin-left: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
} */

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 16px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* footer {
  background-color: white;
  color: rgb(51, 46, 46);
  text-align: center !important;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
} */

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}